

.commLeft{
    background-color: #FFF;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
    height: max-content;
}
.commRight{
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
    height: max-content;
    position: sticky !important;
    top: .5rem;
}
.commMain{
    margin-top: .5rem;
}

.list-title{
    font-size:1.3rem;
    color: rgb(250, 128, 114);
    padding: 0 0.5rem;
}
.list-context{
    color:#777;
    padding:.5rem;
}
.list-icon{
    padding:.5rem 0;
    color:#AAA;
}
.list-icon span{
    display: inline-block;
    padding: 0 10px;
}
.list-introduce {
    margin-left: .5rem;
}

.author-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.author-motto {
    font-size: 1.5rem;
    font-weight: 600;
}

.page-mark {
    background-color: rgb(71, 151, 226);
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 1.5rem;
}